@import 'vars';


.btn-icon {
    border: none;
    background: transparent;
    padding: 10px;
    outline: none;
    color:#D0BB57;
    cursor: pointer;
}
.btn-icon:hover {
   color: cornflowerblue;
}