@import 'vars';

button {
    cursor: pointer;

}

.btn-icon {
    border: none;
    background: transparent;
    padding: 10px;
    outline: none;
    color:#D0BB57;
    cursor: pointer;
}
.btn-icon:hover {
   color: cornflowerblue;
}

.clean-btn {
    background-color: transparent;
    border:none;
    transition: all 0.3s;
    padding: .5rem;
    font-size: 1rem;
}
.clean-btn:hover{
opacity: 0.7;
}

