@import 'vars';

button {
    cursor: pointer;

}

.btn-icon {
    border: none;
    background: transparent;
    padding: 10px;
    outline: none;
    color:#D0BB57;
    cursor: pointer;
}
.btn-icon:hover {
   color: cornflowerblue;
}

.clean-btn {
    background-color: transparent;
    border:none;
    transition: all 0.3s;
    padding: .5rem;
    font-size: 1rem;
    outline: none;
}
.clean-btn:hover:enabled{
   transform: scale(1.2);
}

.create-btn {
    margin: 1rem;
    padding: 0.5rem;
    height: auto;
    align-self: baseline;
    border: none;
}