// ::-webkit-input-placeholder {
//   color: #626262;
//   font-size: rem(14px);
//   font-family: var(--primary-font);
// }



.input-samll {
    width: 50px;
    padding: .2rem;
    margin: 0 0 0 .3rem;
}

.editor-text-area {
    width: -webkit-fill-available;
    padding: 0.3rem;
    background-color: rgba(255, 255, 255, 0.5);
    border:none; 
    font-family: $story-font;
    font-size: 1.3rem;
}
.editor-text-area:focus {
    background-color: #e4ecd9;
    
}
.editor-text-area:hover{
    box-shadow: 0 0 1px black;
}
/*******************************************************************************************/

.form-style-3{
    max-width: 450px;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
.form-style-3 label{
    display:block;
    margin-bottom: 10px;
}
.form-style-3 label > span{
    float: left;
    width: 100px;
    color: #F072A9;
    font-weight: bold;
    font-size: 13px;
    text-shadow: 1px 1px 1px #fff;
}
.form-style-3 fieldset{
    border-radius: 10px;
    margin: 0px 0px 10px 0px;
    border: 1px solid #FFD2D2;
    padding: 20px;
    background: #FFF4F4;
    box-shadow: inset 0px 0px 15px #FFE5E5;
}
.form-style-3 fieldset legend{
    color: #FFA0C9;
    border-top: 1px solid #FFD2D2;
    border-left: 1px solid #FFD2D2;
    border-right: 1px solid #FFD2D2;
    border-radius: 5px 5px 0px 0px;
    background: #FFF4F4;
    padding: 0px 8px 3px 8px;
    box-shadow: -0px -1px 2px #F1F1F1;
    font-weight: normal;
    font-size: 12px;
}
.form-style-3 textarea{
    width:250px;
    height:100px;
}
.form-style-3 input[type=text],
.form-style-3 input[type=date],
.form-style-3 input[type=datetime],
.form-style-3 input[type=number],
.form-style-3 input[type=search],
.form-style-3 input[type=time],
.form-style-3 input[type=url],
.form-style-3 input[type=email],
.form-style-3 select, 
.form-style-3 textarea{
    border-radius: 3px;
    border: 1px solid #FFC2DC;
    outline: none;
    color: #F072A9;
    padding: 5px 8px 5px 8px;
    box-shadow: inset 1px 1px 4px #FFD5E7;
    background: #FFEFF6;
    width:50%;
    margin: 1rem;
}
.form-style-3  input[type=submit],
.form-style-3  input[type=button]{
    background: #EB3B88;
    border: 1px solid #C94A81;
    padding: 5px 15px 5px 15px;
    color: #FFCBE2;
    box-shadow: inset -1px -1px 3px #FF62A7;
    border-radius: 3px;
    border-radius: 3px;
    font-weight: bold;
    cursor: pointer;
}
.required{
    color:red;
    font-weight:normal;
}


/******************************************************************************************************/
/*****************************************
  upload button styles
******************************************/
// .file-upload {
// 	position: relative;
// 	display: inline-block;
// }

// .file-upload__label {
//   display: block;
//   padding: 1em 2em;
//   color: #fff;
//   background: rgb(68, 68, 68);
//   border-radius: .4em;
//   transition: background .3s;
  
//   &:hover {
//      cursor: pointer;
//      background: #000;
//   }
// }
    
// .file-upload__input1 {
//     position: absolute;
//     left: 0;
//     top: 0;
//     right: 0;
//     bottom: 0;
//     font-size: 1;
//     width:0;
//     height: 100%;
//     opacity: 0;
// }
