@import 'vars';

 input {
    padding: 0 .5rem;
 }
 .editor-input {
    border-radius: 5px;
    border: 1px solid #c6bdbd;
    font-family: $main-font;
 }

.input-samll {
    width: 50px;
    padding: .2rem;
    margin: 0 0 0 .3rem;
}

.editor-text-area {
    width: -webkit-fill-available;
    padding: 0.3rem;
    background-color: rgba(255, 255, 255, 0.5);
    border:none; 
    font-family: $story-font;
    font-size: 1.3rem;
}
.editor-text-area:focus {
    background-color: #e4ecd9;
    
}
.editor-text-area:hover{
    box-shadow: 0 0 1px black;
}


/******************************************************************************************************/
/*****************************************
  upload button styles
******************************************/
.input-file-container {
    position: relative;
    height: 40px;
    width: 40px;
  } 
 

.input-file-trigger {
    display: block;
    padding: .5rem;
    background: #9095b1de;
    color: white;
    font-size: 1em;
    transition: all .4s;
    cursor: pointer;
    border-radius: 50%;
    width: inherit;
    height: inherit;

  }
   .input-file {
    position: absolute;
    top: 0; left: 0;
    width: 50px;
    opacity: 0;
    padding:.5rem 0;
    cursor: pointer;
  }
   .input-file:hover + .input-file-trigger,
 .input-file:focus + .input-file-trigger,
   .input-file-trigger:hover,
   .input-file-trigger:focus {
    background: #393e56de;
    color: #fff;
  }

  .inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.inputfile + label {
    font-size: 1.25em;
    font-weight: 700;
    color: white;
    background-color: black;
    display: inline-block;
}


