.clean-list {
  list-style: none;
}

.img-responsive {
  max-width: 100%;
  height: auto;
  display: block;
  width: 100%;
}

.no-margin {
  margin: 0;
}

.no-padding {
  padding: 0;
}

.hidden {
  display:none;
}

.collapsed {
  opacity: 0;
}
.relative {
  position: relative;
}
.absolute {
  position: absolute;
}