


@mixin border-radius($radius) {
   
    border-radius: $radius;
  }
  
  $primary-color: #4C4C4C;
  $secondary-color: #141414;
  $light-color:#6d6d6d;
  $decor-color: #aaa4a4;
  
  @keyframes fadeInDown { 0% { opacity:0;top: -180px;} 100% { opacity:1; top: -160px;} }
  
  @keyframes fadeOutUp { 0% { opacity:1;top: -160px;} 100% { opacity:0; top: -180px;} }
  
  .wrapper *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    // transition: 0.3s ease-in-out;
    &:focus{
      outline: none;
    }
  }
  
  
 .wrapper{
     width: 100%;
  }
  
  .wrapper-container{
    width: 80%;
    // height: 80vh;
    height: calc(100vh - 110px);
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    background-color: $secondary-color;
    
    @include border-radius(5px);
    overflow: hidden;
    position: relative;
    .player{
      position: absolute;
       bottom: 0;
      // left: 39%;
      padding: 5px;
      cursor: pointer;
      align-self: center;

      .btnDisabled {
        opacity: 0.5;
        cursor: not-allowed;
      }
      .fa-backward, .fa-forward {
        float: left;
        font-size: 1.8em;
        padding: 20px 0;
        color: $light-color;
        filter: drop-shadow( 0px 2px 5px #000 );
        &:hover{
          color: $primary-color;
        }
      }
      .play-pause{
        float: left;
        font-size: 2em;
        margin: 0 20px;
        width: 65px;
        height: 65px;
        @include border-radius(50%);
        text-align: center;
        background: $secondary-color;
        padding: 5px 0 0 0;
        cursor: pointer;
        box-shadow: 0px 0px 5px 5px rgba(0, 0, 0,0.5);
        #play.pause {
            font-size: 1.5rem;
            padding: 9px 0 0 2px;
        }
        #play{
          width: 55px;
          height: 55px;
          @include border-radius(50%);
          border: 5px solid $light-color;
          color: $light-color;
          padding: 7px 0 0 5px;
          &:hover{
            border: 5px solid $primary-color;
            color: $primary-color;
          }
        }
      }
    }
   
    .volume{
      width: 20px;
      position: absolute;
      bottom: 5px;
      left: 15px;
      font-size: 1.5rem;
      cursor: pointer;
      .fa-volume-up{
        font-size: 1em;
        color: $light-color;
        filter: drop-shadow( 0px 2px 2px #000 );
        position: relative;
        &:hover{
          color: $primary-color;
        }
      }
      .vol{
        opacity: 0;
          animation-duration: 0.4s;
        width: 23px;
        height: 130px;
        background: $light-color;
        position: absolute;
        top: -160px;
        left: -2px;
        @include border-radius(2px);
        padding: 10px 10px;
        box-shadow: 0px 0px 1px 1px rgba(0, 0, 0,0.5);
        &::before{
          content: "";
          width: 10px;
          height: 10px;
          position: absolute;
          bottom: -5px;
          left: 6px;
          background-color: $light-color;
          transform: rotate(45deg);
        }
        &.active{
            animation-duration: 0.4s;
        }
    
      }
    }
    .media-settings {
      position: absolute;
      bottom: 5px;
      right: 15px;
     
    }
   

  }
  
  
  @media(max-width:340px) {
    .wrapper-container {
        width: 90%;
        height: 85vh;
    }
   
  }
  

  @media(max-width:550px) {
    .wrapper-container {
        width: 90%;
    }
   
    .wrapper-container .image-media{
       background-color: $secondary-color;
     }
  }
  


  
  