
/*----------  Poor_Story Font  ----------*/

@font-face {
  font-family: 'Poor_Story';
  src: url('../fonts/Poor_Story/PoorStory-Regular.ttf'); 
}


/*----------  Gaegu Font  ----------*/

@font-face {
  font-family: 'Gaegu';
  src: url('../fonts/Gaegu/Gaegu-Regular.ttf');
  font-weight: 400;
}

.header {
  font-size: rem(30px);
}


/*----------  merriweather Font  ----------*/

@font-face {
  font-family: 'Merriweather';
  src: url('../fonts/Merriweather_Sans/MerriweatherSans-Regular.ttf');
}


