$container-width: 1063px;
$mobile-breakpoint: 642px;
$container-bg:#ececec;
$main-color:#545454;
$main-color-hover:#e86c62;
$dark-main-color:black;

$color-btn:white;
$editor-btn-bg:lightgreen;

// font
$main-font: 'Merriweather', sans-serif;
$story-font:'Crayon','Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
$logo-font:'BlackLightning';

// margin/padding
$margin-bM:0 0 1rem 0;

:root {
  /* Layout */
  --container-width: $container-width;
  --inner-container-width: 900px;
  /* Fonts */
  --primary-font: Playfair;
  --secondary-font: Ubuntu;
  /* Colors */
  --main-color: #626262;
  --sections-bg: #f0f0f0;
}




