
// @import 'vendor';

@import 'vars';
@import 'button';
@import 'functions';
@import 'helpers';
@import 'typography';
@import 'layout';
@import 'base';
@import 'forms';
@import 'social';

/* Components */
* {
  box-sizing:border-box;
}

html,body {
  margin:0;
}

// book-app
.book-app {
  font-family:$main-font;
}


// section
.section-container {
  padding: 1rem 3rem ;
}

.active {
  color:$main-color-hover;
}


//book page in editor

.page-edit-preview {
  min-height: 30vh;
  width: 30vw;
}

.p-container-prev {
  p {
    overflow-wrap: break-word;
    max-width: 250px;
  }
}
