
// @import 'vendor';

@import 'vars';
@import 'button';
@import 'functions';
@import 'helpers';
@import 'typography';
@import 'layout';
@import 'base';
@import 'forms';
@import 'social';

/* Components */
* {
  box-sizing:border-box;
}

html,body {
  margin:0;
}

// book-app
.book-app {
  font-family:$main-font;
}


// section
.section-container {
  padding: 1rem 3rem ;
}

.active {
  color:$main-color-hover;
}


//book page in editor

.page-edit-preview {
  min-height: 30vh;
  min-width: 80px;
  width: 100%;
}

.p-container-prev {
  border-radius: 10px;
  background-color: #f0f8ff57;
  padding: 1rem;
  p {
    font-size: bold;
    overflow-wrap: break-word;
    max-width: 250px;
    margin: 0 .5rem 0 0;
  }
}

.img-container {
  width: 100%;
   padding: 1rem;
  min-height:inherit;
  background-size: cover;
  background-position: center;
}


