
// @import 'vendor';

@import 'vars';
@import 'button';
@import 'functions';
@import 'helpers';
@import 'typography';
@import 'layout';
@import 'base';
@import 'forms';
@import 'social';

/* Components */
* {
  box-sizing:border-box;
}

html,body {
  margin:0;
}

// book-app
.book-app {
  font-family:$main-font;
}


// section
.section-container {
  padding: 1rem 3rem ;
}

.active {
  color:$main-color-hover;
}